<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel=stylesheet href=/public/static/libs/magicsearch/jquery.magicsearch2.css>
    <!-- <link rel="stylesheet" href="../../public/static/dist/css/home.css"> -->
<link href="/public/static/dist/js/../css/common_vendor.css?66cb1f48" rel="stylesheet"><link href="/public/static/dist/js/../css/home_vendor.css?12a314c8" rel="stylesheet"><link href="/public/static/dist/js/../css/home.css?c196fc33" rel="stylesheet"></head>
<body>
<div class=wrap>
    <div class=header>
        <p class=header__info><i class="fa fa-home"></i> Home</p>
        <img class=header__img src=/public/static/dist/imgs/kl/scrat.png?8ad54ef5 width=200 height=200>
        <p>
            <input type=text class=magicsearch-input>
            <input type=text class=date-input>
            <input type=text class=bg-input>
        </p>
    </div>
</div>


    
    
    
<script type="text/javascript" src="/public/static/dist/js/common.js?1585efd4"></script>
<script src=http://localhost:8188/dist/js/common.js></script>
<script src=/public/static/libs/magicsearch/jquery.magicsearch2.js></script>
<script src=http://localhost:8188/dist/js/home.js></script>
<script type="text/javascript" src="/public/static/dist/js/home.js?394fd509"></script>
</body>
</html>
