<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/public/static/libs/magicsearch/jquery.magicsearch2.css">
    <!-- <link rel="stylesheet" href="../../public/static/dist/css/home.css"> -->
</head>
<body>
<div class="wrap">
    <div class="header">
        <p class="header__info"><i class="fa fa-home"></i> Home</p>
        <img class="header__img" src="../../public/static/imgs/kl/scrat.png" width="200" height="200">
        <p>
            <input type="text" class="magicsearch-input">
            <input type="text" class="date-input">
            <input type="text" class="bg-input">
        </p>
    </div>
</div>


    <script src="http://localhost:8188/dist/js/common.js"></script>
    <script src="/public/static/libs/magicsearch/jquery.magicsearch2.js"></script>
    <script src="http://localhost:8188/dist/js/home.js"></script>
</body>
</html>
