<!DOCTYPE html>
<html>
<head>
    <title>Detail</title>
    <!-- <link rel="stylesheet" href="../../public/static/dist/css/detail.css"> -->
</head>
<body>
<div class="wrap">
    <div class="header">
        <p class="header__info">Detail</p>
        <img class="header__img" src="../../public/static/imgs/kl/kl.jpg" width="200" height="200">
    </div>
</div>

    <script src="http://localhost:8188/dist/js/common.js"></script>
    <script src="http://localhost:8188/dist/js/detail.js"></script>

</body>
</html>
