<!DOCTYPE html>
<html>
<head>
    <title>Detail</title>
    <!-- <link rel="stylesheet" href="../../public/static/dist/css/detail.css"> -->
<link href="/public/static/dist/js/../css/common_vendor.css?66cb1f48" rel="stylesheet"><link href="/public/static/dist/js/../css/detail.css?618d2a04" rel="stylesheet"></head>
<body>
<div class=wrap>
    <div class=header>
        <p class=header__info>Detail</p>
        <img class=header__img src=/public/static/dist/imgs/kl/kl.jpg?2b04df3e width=200 height=200>
    </div>
</div>

    
    

<script type="text/javascript" src="/public/static/dist/js/common.js?1585efd4"></script>
<script src=http://localhost:8188/dist/js/common.js></script>
<script src=http://localhost:8188/dist/js/detail.js></script>
<script type="text/javascript" src="/public/static/dist/js/detail.js?4f0524f3"></script>
</body>
</html>
